@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    --primary: #154D59;
    --secondary: #101938;
    --accent: #F27649;
    --green: #2E8C7B;
    --cream: #F2E6D8;

    --hero-font-size: clamp(2.5rem, 10vw, 7.5rem);

    --b-radius: 1em;

    font-family: 'Lora', serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    background-color: var(--primary);
    scroll-behavior: auto;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    width: 100%;
    z-index: 10000;
}

.nav-content {
    display: flex;
    flex-direction: row;
    background: var(--green);
    border-radius: var(--b-radius);
    width: 100%;
    max-width: 100em;
}

.logo {
    width: 46px;
    margin-left: 2em;
}

.nav-items {
    display: flex;
    flex-direction: row;
    gap: 1em;

    width: fit-content;
    padding: 1em;
    margin-left: auto;
    margin-right: 2em;
}

.nav-items > .nav-item {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--secondary);
    text-decoration: none;
}

.nav-item:hover {
    color: var(--cream);
    cursor: pointer;
}

.hero {
    min-height: 100vh;
    padding: 0;
    display: flex;
}

.hero-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin-top: 5em;
    flex: 1;
}

.heading-container {
    display: flex;
    flex-direction: column;
    max-height: 40em;
    gap: 2em;
    height: 100%;
    max-width: 60em;
    flex: 1;
    border-radius: var(--b-radius) 0 0 var(--b-radius);
    background: var(--green);
    padding: 2em;
}

.heading-container > h1 {
    font-size: 4rem;
    color: var(--secondary);
    margin: 0;
    line-height: 1.4em;
    border-right: var(--accent) solid 4px;
    border-top: var(--accent) solid 4px;
    padding: .25em;
}

.subheading-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: .5em;
    border-left: var(--accent) solid 4px;
    border-bottom: var(--accent) solid 4px;
    border-radius: 0 0 0 var(--b-radius);
}

.subheading-container > p {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--cream);
    width: 45ch;
    height: 100%;
    margin: 0;
    padding: .6em;
}

.btn-cta {
    font-size: 1rem;
    font-weight: bold;
    color: var(--cream);
    max-width: fit-content;
    padding: .9em .6em .9em .6em;
    border: var(--secondary) solid 2px;
    border-radius: 6px;
    background: var(--accent);
    margin-left: 1em;
    margin-bottom: 1em;
    cursor: pointer;

}

.hero-content > img {
    width: 40em;
    border-radius: 0 var(--b-radius) var(--b-radius) 0;
}

.charts {
    min-height: 100vh;
    display: flex;
    flex: 1;
    padding: 10em 1em 1em 1em;
}

.charts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100em;
    width: 100%;
    height: 100%;
    background: var(--secondary);
    border-radius: var(--b-radius);
    margin: auto;
    flex: 1;
}

.btn-get-data {
    font-size: 1rem;
    font-weight: bold;
    color: var(--cream);
    max-width: fit-content;
    padding: .4em;
    border-color: var(--green);
    border-radius: 6px;
    background: var(--green);
    cursor: pointer;
}

.data-selectors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 1em;
}

.data-selectors > label {
    font-weight: bold;
    color: var(--cream);
}

.chart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2em;
}

.chart-heading {
    font-size: 1.6em;
    font-weight: bold;
    color: var(--cream);
}

.switch-button {
    background: var(--cream);
    border-radius: .5em;
    overflow: hidden;
    width: 142px;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 1px;
    color: var(--secondary);
    font-weight: bold;
    position: relative;
    padding-right: 70px;
    margin: 0;
}

.switch-button:before {
    content: "Table";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    pointer-events: none;
    color: var(--secondary);
}

.switch-button.checked:before {
    color: var(--cream);
}

.switch-button-checkbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
}

.switch-button-checkbox:checked + .switch-button-label:before {
    transform: translateX(70px);
    transition: transform 300ms linear;
}

.switch-button-checkbox + .switch-button-label {
    position: relative;
    padding: 6px 0;
    display: block;
    user-select: none;
    pointer-events: none;
}

.switch-button-checkbox + .switch-button-label:before {
    content: "";
    background: var(--green);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 6px;
    transform: translateX(0);
    transition: transform 300ms;
}

.switch-button-checkbox + .switch-button-label .switch-button-label-span {
    position: relative;
    color: var(--secondary);
}

.switch-button-checkbox + .switch-button-label .switch-button-label-span.checked {
    color: var(--cream);
}

.table-container {
    width: 100%;
    padding: 1em;
}

.example-table {
    display: none;
    width: 100%;
}

.example-table.show {
    display: block;
}

.tab-group {
    display: flex;
    padding: 0;
    margin: 0;
}

.tab-group > button.active {
    background: var(--green);
    border-color: var(--green);
    color: white;
    font-weight: bold;
}