{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example Website</title>
    <link rel="stylesheet" href="{% static 'te_demo/css/index.css' %}">
</head>
<body>

<nav class="navbar">
    <div class="nav-content">
        <img class="logo" src="{% static 'te_demo/img/logo.svg' %}" alt="example logo">
        <div class="nav-items">
            <a href="#" class="nav-item">Home</a>
            <a href="#" class="nav-item">About</a>
            <a href="#" class="nav-item">Trading Economics</a>
        </div>
    </div>
</nav>

<section class="hero">
    <div class="hero-content">
        <div class="heading-container">
            <h1>Revolutionize Your Investment Strategy with Data-Driven Insights</h1>
            <div class="subheading-container">
                <p>Compare and Analyze Financial Data Across Markets to Make Confident Investment Decisions</p>
                <button class="btn-cta">Call To Action</button>
            </div>
        </div>

        <img src="{% static 'te_demo/img/hero_illustration.png' %}" alt="stock trader illustration">
    </div>
</section>

<section class="charts">

</section>
</body>
</html>