{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example Website</title>
    <link rel="stylesheet" href="{% static 'te_demo/css/index.css' %}">
</head>
<body>

<nav class="navbar">
    <div class="nav-content">
        <img class="logo" src="{% static 'te_demo/img/logo.svg' %}" alt="example logo">
        <div class="nav-items">
            <a href="#" class="nav-item">Home</a>
            <a href="#" class="nav-item">About</a>
            <a href="#" class="nav-item">Trading Economics</a>
        </div>
    </div>
</nav>

<section class="hero">
    <div class="hero-content">
        <div class="heading-container">
            <h1>Revolutionize Your Investment Strategy with Data-Driven Insights</h1>
            <div class="subheading-container">
                <p>Compare and Analyze Financial Data Across Markets to Make Confident Investment Decisions</p>
                <button class="btn-cta">Call To Action</button>
            </div>
        </div>

        <img src="{% static 'te_demo/img/hero_illustration.png' %}" alt="stock trader illustration">
    </div>
</section>

<section class="charts">
    <div class="charts-container">
        <div class="data-selectors">
            <label for="country">
                Country:
                <input id="country" type="text">
            </label>
            <label for="category">
                Category:
                <input id="category" type="text">
            </label>
            <label for="categoryGroup">
                Category Group:
                <input id="categoryGroup" type="text">
            </label>
            <label for="getLists">
                List Available:
                <input id="getLists" type="checkbox">
            </label>

            <button id="getData" class="btn-get-data">Get Data</button>
        </div>
        <div class="chart">
            <div class="switch-button">
                <input class="switch-button-checkbox" type="checkbox"></input>
                <label class="switch-button-label" for=""><span class="switch-button-label-span">Chart</span></label>
            </div>

            <h2 class="chart-heading">Chart or Table Here</h2>
        </div>

    </div>
</section>
</body>
<script>
    const getData = document.getElementById('getData')
    getData.addEventListener('click', (event) => {
        console.log(event.target)
        fetch("{% url 'get_data' %}")
            .then(res => {
                console.log(res)
                return res
            }).then(data => {
            console.log(data)
        })
    })
</script>
</html>